main {
  height: 100vh;
  display: flex;
}
aside.gradient {
  height: 100%;
  background-repeat: no-repeat;
  width: 483px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  background-image: url(/public//gradient.png);
}

div.cardBack_wrapper {
  margin-left: 94px;
}
aside.gradient section {
  position: absolute;
  display: flex;
  gap: 37px;
  flex-direction: column;
  left: 164px;
}

aside.white_bf {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }
  aside.gradient {
    width: 100%;
    height: 375px;
    justify-content: center;
  }
  aside.gradient section {
    position: relative;
    gap: 100px;
    left: 0;
    
  }

  div.cardFront_wrapper {
    position: absolute;
    top: 141px;
    z-index: 1;
  }
  aside.white_bf {
  flex-grow: initial;
  height: 100vh;
  margin-top: 60px;
}
}

@media screen and (max-height: 890px) {
  aside.white_bf{
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media screen and (max-height: 800px) {
  aside.white_bf{
    margin-bottom: 20px;
  }
}